@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Prompt:wght@300&display=swap');

.navbar{
    width: 350px !important;
    height: 50px !important;
    position: fixed;
    top: 0;
    z-index: 1000; /* İstediğiniz bir değer */
}
.img{
    max-width: 300px;
}
.img-p{
    max-width: 100px;
    border-radius: 50%;
}
.skew{
    --f: .1; /* the parallax factor (the smaller the better) */
  --r: 10px; /* radius */
  
  --_f: calc(100%*var(--f)/(1 + var(--f)));
  --_a: calc(90deg*var(--f));
  aspect-ratio: calc(1 + var(--f));
  object-fit: cover;
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) var(--_t,rotateY(var(--_a)));
  transition: .5s;
  cursor: pointer;
}
.skew:hover{
    clip-path: inset(0 0 0 var(--_f) round var(--r));
  --_t: translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)))
}
.logo{
    max-width: 50px;
}
h1{
    font-family: 'PT Sans', sans-serif;
}
.prompt{
    font-family: 'Prompt', sans-serif;
}
.grow-on-hover {
    transition: transform 0.3s ease-in; 
    cursor: pointer;
  }

.grow-on-hover:hover {
    transform: scale(1.1); 
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
.card{
    width: 20rem;
}
.justify{
    text-align: justify;
    text-justify: inter-word;
}
.progress{
  width: 100%;
}
.progress-stacked{
  width: 100%;
  border-radius: 0;
}
.javascript{
  background-color: $yellow-300;
  width: 80%;
}
.html{
  background-color: $orange;
}
.react{
  background-color: $cyan-500;
  width: 75%;
}
.bootstrap{
  background-color: $purple-500;
  width: 75%;
}
.sass{
  background-color: $pink-500;
  width: 90%;
}
.webpack{
  width: 50%;
}
.git{
  background-color: $red;
  width: 70%;
}
.xd{
  background-color: $pink-400;
  width: 100%;
}
.figma{
  background-color: $teal-500;
  width: 85½;
}
