@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Prompt:wght@300&display=swap');

.navbar{
    width: 350px !important;
    height: 50px !important;
    position: fixed;
    top: 0;
    z-index: 1000; /* İstediğiniz bir değer */
}
.img{
    max-width: 300px;
}
.img-p{
    max-width: 100px;
    border-radius: 50%;
}
h1{
    font-family: 'PT Sans', sans-serif;
}
.prompt{
    font-family: 'Prompt', sans-serif;
}